#main{
	padding-top:70px;
		min-height:400px;
}

.sidebar{
	max-width:200px;
}

.icon-thumbs-up{
	color:#0f0;
}

.icon-thumbs-down{
	color:#f00;
}

.icon-exclamation-sign{
	color:#dd0;
}

div.signup .form_group{
	padding-top:20px;
	width:400px;
}

div.delete-form{
	margin:auto;
	width:500px;
}