#main {
	padding-top: 50px;
	min-height: 400px;
}

.sidebar {
	max-width: 200px;
}

.icon-thumbs-up {
	color: #0f0;
}

.icon-thumbs-down {
	color: #f00;
}

.icon-exclamation-sign {
	color: #dd0;
}



div.delete-form {
	margin: auto;
	width: 500px;
}
.frontpage-box ul{
	padding-left:15px;
	padding-right:15px;
}
.recently_checked_results ul li {
	padding: 10px 0;
}

.recently_checked_results ul li .timespan {
	font-size: small;
}

body.homepage {
	background-size: 100%;
}

.jumbotron {
	background: #327bb0;
	color: #fff;
}
#box1 li{
	font-size:20px;
}
.frontpage-box {
	background: white;
	border-bottom: #666 2px solid;
	border-top: #ccc 1px solid;
	border-left: #ccc 1px solid;
	border-right: #666 2px solid;
	border-radius: 5px;
	height: 385px;
}

.frontpage-box h3{
	background:#327bb0;
	color:white;
	margin:0;
	font-weight:bold;
	padding:30px;
}

div.signup{
	width:250px;
}
div.footer{
	padding-top:40px;
	padding-bottom:20px;
	text-align:center;
}

#box1 li{
   line-height:1.5em;
}

#box1 li{
	padding-top:10px;
}

#box1 li a.btn-lg{
    margin-left:100px;
    margin-top:30px;
}

div.quick_check_container>p:first-of-type{
   margin-top:70px;
   
}

div.quick_check_container>p:first-of-type, div.quick_check_container div{
   padding-left:15px;
   padding-right:15px;
}
